{% extends 'layout.html' %}
{% load static %}

<!--  -->
<!-- LAYOUT_HEADER -->
<!--  -->

{% block content %}

        <div class="header-div">
                <div>
                    <div>
                        <img class="logo-contact" src="{% static 'imgs/logo.png' %}" alt="logo">
                    </div>
                </div>  
        </div>

        <div class="divContactForm">
                <form action="." method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn-contact">Send</button>
                </form>
        </div>

{% endblock %}

<!--  -->
<!-- LAYOUT_FOOTER -->
<!--  -->