{% extends 'layout.html' %}
{% load static %}

<!--  -->
<!-- LAYOUT_HEADER -->
<!--  -->

{% block content %}

        <div class="header-div">
                <div>
                    <div>
                        <img class="logo-contact" src="{% static 'imgs/logo.png' %}" alt="logo GA">
                    </div>
                </div>  
        </div>

        <div class="mainWrap">
                <h2>Seepch Recognition</h2>
                <div>
                        <textarea id="textarea-stt" rows="10" cols="80" disabled="true" style="resize: none;" ></textarea>
                        <button class="click-to" id="buttonSpeech" onclick="toggleStartStop()" ></button>

                        <h2>Playback Options</h2>

                        <label id="rateValue">Speed 1</label> <input id="rate" type="range" min="0.1" max="2" step="0.1" value="1" />
                        <label id="pitchValue">Pitch 1</label> <input id="pitch" type="range" min="0.1" max="2" step="0.1" value="1" />

                        <div class="flexButtons">
                                <button class="click-to" id="buttonListen" onclick="listen('textarea-tts')" >Play</button>
                                <button class="click-to" id="buttonPause" onclick="speechSynthesis.pause()" >Pause</button>
                                <button class="click-to" id="buttonStop" onclick="speechSynthesis.cancel();" >Stop</button>
                        </div>
                </div>
        </div>

{% endblock %}

<!--  -->
<!-- LAYOUT_FOOTER -->
<!--  -->