{% extends 'layout.html' %}
{% load static %}

<!--  -->
<!-- LAYOUT_HEADER -->
<!--  -->

{% block content %}
        
    <header>
            <div class="banner">
                <div>
                    <img class="logo" src="{% static 'imgs/logo.png' %}" alt="logo Nexus">
                </div>
            </div>  
    </header>
    <main>
        <div class="nexus">
            <h2>Web_Speech_API</h2>
            <p>The Web Speech API enables you to incorporate voice data into web apps. The Web Speech API has two parts: SpeechSynthesis (Text-to-Speech), and SpeechRecognition (Asynchronous Speech Recognition.)</p>
        </div>
    </main>

    <!--  -->

    <div id="grad-bottom"></div>
    <div class="contact">
        <div>
            <h3>WANNA KNOW MORE ABOUT?</h3>
            <p>Get in touch, clarify certain doubts.<br> Write to us! It's quick and easy!</p>
        </div>
        <div class="but">
            <a href="{% url 'contact' %}"><button class="saiba-mais" >Contact</button></a>
        </div>
    </div>

{% endblock %}

<!--  -->
<!-- LAYOUT_FOOTER -->
<!--  -->